<app-content-header title="Maestros" model="maestros"></app-content-header>

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary collapsed-card">
            <div class="card-header">
                <h3 class="card-title">Filtrar por...</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form role="form" [formGroup]="filterForm">
                    <div class="row">
                        <div class="col-sm-4">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Nombre</label>
                                <input formControlName="name" type="text" class="form-control" placeholder="...">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Usuario</label>
                                <input type="text" formControlName="username" class="form-control" placeholder="...">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>No. empleado</label>
                                <input formControlName="n_employee" type="text" class="form-control" placeholder="..." >
                            </div>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-sm-4">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Tipo</label>                                
                                <select formControlName="type" class="custom-select">
                                    <option value="">.:: Todos ::.</option>
                                    <option value="1">Maestro General</option>
                                    <option value="2">Maestro Directo</option>
                                    <option value="3">Coordinador</option>    
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Estatus</label>
                                <select class="custom-select" formControlName="status">
                                    <option value="">.:: Todas ::.</option>
                                    <option value="1">Activo</option>
                                    <option value="2">Inactivo</option>
                                </select>
                            </div>
                        </div>   
                        <div class="col-sm-4">
                            <!-- text input -->
                            <div class="form-group">
                                <label class="text-white">.</label>
                                <button (click)="filter()" class="btn btn-success w-100">Buscar</button>
                            </div>
                        </div>                        
                    </div>                    
                    
                </form>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Listado</h3>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Nombre</th>
                            <th>Usuario</th>
                            <th>No. Empleado</th>
                            <th>Tipo</th>
                            <th>Estatus</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="teachers.length === 0">
                            <td colspan="7"> Sin Informacion </td>
                        </tr>
                        <tr *ngFor="let teacher of teachers">
                            <td>{{ teacher.id }}</td>
                            <td>{{ teacher.user.name }}</td>
                            <td>{{ teacher.user.username }}</td>
                            <td>{{ teacher.n_employee }}</td>
                            <td>
                                {{ teacher.type.description }}
                            </td>
                            <td>
                                <app-status-text [status]=teacher.user.status></app-status-text>
                            </td>
                            <td>                                
                                <a [routerLink]="[ '/maestros', 'editar', teacher.id ]" class="btn btn-success text-white">
                                    <i class="fas fa-pencil-alt"></i>
                                </a> / 
                                <app-delete-resource (deleted)="delete(teacher.id)"></app-delete-resource>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>            
        </div>
    </div>
</div>