<app-content-header title="Estudiante" model="alumnos"></app-content-header>

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary collapsed-card">
            <div class="card-header">
                <h3 class="card-title">Filtrar por...</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form role="form">
                    <div class="row">
                        <div class="col-sm-8">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" placeholder="...">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Usuario</label>
                                <input type="text" class="form-control" placeholder="...">
                            </div>
                        </div>                        
                    </div>                    
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Matricula</label>
                                <input type="text" class="form-control" placeholder="..." >
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Estatus</label>
                                <select class="custom-select">
                                    <option>Todos</option>
                                    <option>Activo</option>
                                    <option>Inactivo</option>                                    
                                </select>
                            </div>
                        </div>                        
                        <div class="col-sm-4">
                            <!-- text input -->
                            <div class="form-group">
                                <label class="text-white">.</label>
                                <button class="btn btn-success w-100">Buscar</button>
                            </div>
                        </div>                        
                    </div>                    
                    
                </form>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Listado</h3>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Nombre</th>
                            <th>Usuario</th>
                            <th>Matricula</th>
                            <th>Estatus</th>                            
                            <th>Accion</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.</td>                            
                            <td>Update software</td>
                            <td>Update software</td>
                            <td>
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                </div>
                            </td>
                            <td><span class="badge bg-danger">55%</span></td>
                            <td>
                                <a [routerLink]="[ '/alumnos', 'editar', 2 ]" class="btn btn-success">
                                    <i class="fas fa-pencil-alt"></i>
                                </a> / 
                                <app-delete-resource resource="student/delete/1"></app-delete-resource>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                    <li class="page-item"><a class="page-link" href="#">«</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">»</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>