<div class="row pt-3">
    <div class="col-md-12" *ngIf="isAdmin">
        <div class="card-group">
            <div class="card">              
              <div class="card-body">
                <a class="btn btn-light text-center w-100 h-100 p4" routerLink="/maestros">
                    <i class="fas fa-chalkboard-teacher" style="font-size: 45px;"></i>
                    <p class="card-text text-primary mt-2">Maestros</p>                    
                </a>                
              </div>
            </div>
            <div class="card">              
              <div class="card-body">
                <a class="btn btn-light text-center w-100 h-100 p4" routerLink="/alumnos">
                    <i class="fas fa-user-graduate" style="font-size: 45px;"></i>
                    <p class="card-text mt-2 text-primary">Alumnos</p>                    
                </a> 
              </div>
            </div>            
        </div>
    
    </div>   
    <div class="col-md-12" *ngIf="isTeacher">
        <div class="card-group">
            <div class="card">              
              <div class="card-body">
                <a class="btn btn-light text-center w-100 h-100 p4" routerLink="/materias">
                    <i class="fas fa-book"  style="font-size: 45px;"></i>
                    <p class="card-text text-primary mt-2">Materias</p>                    
                </a>                
              </div>
            </div>
            <div class="card">              
              <div class="card-body">
                <a class="btn btn-light text-center w-100 h-100 p4" routerLink="/grupos">
                    <i class="fas fa-users" style="font-size: 45px;"></i>
                    <p class="card-text mt-2 text-primary">Grupos</p>                    
                </a> 
              </div>
            </div>            
        </div>
    
    </div>  
    <div class="col-md-6 offset-md-3 mb-2" *ngIf="isStudent">
        <div class="card-group">
            <div class="card">              
              <div class="card-body">
                <a class="btn btn-light text-center w-100 h-100 p4" routerLink="/inscripcion">
                    <i class="fas fa-marker" style="font-size: 45px;"></i>
                    <p class="card-text text-primary mt-2">Inscripcion</p>                    
                </a>                
              </div>
            </div>                      
        </div>    
    </div>    
</div>

